__pycache__/youtube_downloader.cpython-314.pyc
config.json
download_log_file.txt
yt-dlp/test/\[Fallback-AIFF\]/Talk To Me You'll Understand.aiff
URL.txt
cookies.txt
yt-dlp/test2cancel/\[HQ-256k\]/Healing.m4a
yt-dlp/test2cancel/\[HQ-256k\]/Promised Land.m4a
yt-dlp/test2cancel/\[HQ-256k\]/Talk To Me You'll Understand.m4a
